<mat-toolbar>
  <span>忘記密碼</span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content class="mat-text">
  <form [formGroup]="forgotPasswordInfo">
    <div class="form-content">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        @if(forgotPasswordInfo.controls.email.touched && forgotPasswordInfo.controls.email.hasError('required')){
        <mat-error>
          <span>這是必要的欄位！</span>
        </mat-error>
        }
        @if (forgotPasswordInfo.controls.email.errors?.pattern) {
        <mat-error>
          <span>請輸入正確的Email格式！</span>
        </mat-error>
        }
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-raised-button type="submit" (click)="submit()">
      <mat-icon>send</mat-icon> 寄送密碼
  </button>
  <button mat-raised-button mat-dialog-close>
      <mat-icon>cancel</mat-icon> 關閉
  </button>
</mat-dialog-actions>
