<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <div class="title">
    <mat-icon>store</mat-icon>
    <span>咖啡廳訂單管理系統</span>
  </div>
  <button mat-icon-button class="user-btn" matTooltip="登入" (click)="login()">
    <mat-icon>login</mat-icon>
  </button>
  <button mat-icon-button class="user-btn" matTooltip="註冊" (click)="signup()">
    <mat-icon>person_add</mat-icon>
  </button>
  <button mat-icon-button class="user-btn" matTooltip="忘記密碼" (click)="forgotPassowrd()">
    <mat-icon>psychology_alt</mat-icon>
  </button>
</mat-toolbar>
